* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-attachment: fixed;
  background-image: url("./static/background-img.png");
  background-position: center; */
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  border: 2px solid #ff71ce;
  border-radius: 10px;
  color: #ff71ce;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  font-weight: bold;
  -moz-box-shadow: 0 0 5px 5px #ff71ce;
  -webkit-box-shadow: 0 0 5px 5px #ff71ce;
  box-shadow: 0 0 5px 5px #ff71ce;
}
