* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:not(input, textarea){
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  border: 2px solid #ff71ce;
  border-radius: 10px;
  color: #ff71ce;
  cursor: pointer;
  padding: 10px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button:hover {
  color: white;
  font-weight: bold;
  border: 2px solid white;
  -webkit-box-shadow: #ff71ce 0 0 15px, inset #ff71ce 0 0 15px;
  box-shadow: #ff71ce 0 0 15px, inset #ff71ce 0 0 15px;
}
